@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
  width: 100vw;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #36454f;
  overflow-x: hidden;
}

#header {
  display: grid;
  padding: 0;
  max-width: none;
  width: 100vw;
  height: 100vh;
  background-color: #56bbc1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23dbdbdb' fill-opacity='0.28'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  text-align: center;
  align-content: center;
  color: #ffffff;
}

#header h1 {
  font-size: 6rem;
  margin: 0;
  margin: 1rem;
}

#header h2 {
  font-size: 5rem;
  margin: 0;
  font-family: 'Amatic SC', cursive;
}

#header h2::before {
  content: '•  ';
}

#header h2::after {
  content: '  •';
}

.container {
  display: grid;
  background-color: #f9f9f9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2356bbc1' fill-opacity='0.15'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.section {
  display: grid;
  font-size: 1.5rem;
  width: 100%;
  justify-self: center;
  max-width: 1400px;
  padding: 2rem;
  padding-bottom: 0;
}

.section .title {
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
  color: #56bbc1;
  font-family: "Amatic SC", cursive;
}

p {
  line-height: 2.2rem;
}

a {
  color: #56bbc1;
  font-weight: 600;
  border-bottom: 0.1rem solid #56bbc1;
  text-decoration: none;
}

a #more-info {
  font-size: 5rem;
  align-self: end;
  margin: 2rem;
  animation: jump 1s .5s 1;
  position: relative;
  color: #ffffff !important;
  cursor: pointer !important;
}

a #more-info:hover {
  color: #45aab0 !important;
  transition: color .1s;
}

#about .blurb {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#about .blurb img {
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #56bbc1;
  padding: .4em;
}

#about .blurb .text {
  width: 60%;
}

#projects .portfolio {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#projects .portfolio .project-item {
  width: 30%;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid #56bbc1;
  border-radius: .5rem;
  background-color: #f7f7f7;
}

#projects .portfolio .project-item img {
  width: 100%;
  opacity: .5;
  transition: opacity .5s;
}

#projects .portfolio .project-item img:hover {
  opacity: 1;
}

#projects .portfolio .project-item h4 {
  font-size: 1.5rem;
  margin: 0;
  color: #56bbc1;
}

#projects .portfolio .project-item p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

#contact {
  padding-top: 5rem;
  padding-bottom: 4rem;
}

#contact .socials {
  width: 100%;
  display: flex;
  justify-content: center;
}

#contact .socials a {
  border-bottom: none;
  font-size: 3rem;
  color: #ffffff;
  color: #56bbc1;
}

#contact .socials .icon {
  color: #ffffff;
  width: 10%;
  flex-basis: auto;
  flex-grow: 0;
  text-align: center;
}

@keyframes jump {
  0% {
    top: 0rem;
  }
  50% {
    top: -1rem;
  }
  100% {
    top: 0rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  .container {
    width: 100vw;
    overflow-x: hidden;
  }
  .container p {
    font-size: 1.75rem;
    line-height: 2.65rem;
  }
  body {
    overflow-x: hidden;
  }
  #header {
    width: 100vw;
    height: 100vh;
  }
  #header h1 {
    font-size: 5rem;
  }
  #header h2 {
    font-size: 3.5rem;
  }
  #about .blurb {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #about .blurb .text {
    width: 85%;
  }
  #projects .portfolio {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #projects .portfolio .project-item {
    width: 85%;
    margin-bottom: 1.5rem;
  }
  #projects .portfolio .project-item h4 {
    font-size: 2rem;
  }
  #projects .portfolio .project-item p {
    font-size: 1.75rem;
    line-height: 2.65rem;
  }
  #projects .portfolio .project-item img {
    opacity: 1;
  }
  #contact .socials .icon {
    width: 20%;
  }
  #contact p {
    padding: 0 2.5rem;
    font-size: 2rem;
  }
}
